data/faceon/
data/fun/
data/n80_1129/
data/orientation/
data/SDSS/
data/SDSS_test/
data/UHD/
data/mockobs_0915/
data/mockobs_1012/
feature_archive/
MaNGA_dr17_structural_params_with_chem.csv
NIHAO_AGN_params_with_SFR.csv
SDSS_stats.ecsv
n80_stats_mod.ecsv
nihao_stats_0206.csv
nihao_stats_0206.ecsv
t_SDSS.csv
t_SDSS.ecsv
Feature_to_mass.ipynb
statmorph_0830.ipynb
.ipynb_checkpoints/Feature_to_mass-checkpoint.ipynb
.ipynb_checkpoints/statmorph_0830-checkpoint.ipynb
Mariodata_1127.py
mock_size_1127.ipynb
nihao_stats_rt_1016.csv
nihao_stats_rt_1019.csv
nihao_stats_size_1127.csv
PCA_1127.ipynb
revision_0918.ipynb
revision_1016.ipynb
SDSS_size_1127.ipynb
statmorph_1017.ipynb
statmorph_1018.py
statmorph_AGN_i.csv.csv
statmorph_nihao_1018.py
statmorph_noAGN_i.csv
statmorph_SDSS_i.csv
t_nihao_0918.csv
